/* Estilos para elementos con la clase .blog-post */
.blog-post {
    background-color: var(--white-color);
    /* Color de fondo */
    margin: 0 auto 2em auto;
    /* Márgenes */
    padding: 35px 30px;
    /* Relleno */
    box-shadow: 3px 3px 5px 3px #000;
    /* Sombra */
    border-radius: 30px;
    /* Bordes redondeados */
    transition: transform .2s, box-shadow .2s;
    /* Transición */
    /* Agregar transición */
}

/* Estilos para elementos .blog-post cuando se les pasa el mouse */
.blog-post:hover {
    transform: translateY(-10px);
    /* Transformación */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.6);
    /* Sombra más oscura */
}

/* Estilos para elementos con la clase .slide */
.slide {
    width: 100%;
    /* Ancho */
    height: auto;
    /* Altura */
    object-fit: cover;
    /* Ajuste de objeto */
    display: block;
    /* Bloque de visualización */
    padding: 10px;
    /* Relleno */
    border-radius: 20px;
    /* Bordes redondeados */
}

/* Estilos para elementos con la clase .seccion */
.seccion {
    clear: both;
    /* Limpiar flotados */
    padding: 0;
    /* Relleno */
    margin: 0;
    /* Margen */
}

/* Estilos para el primer hijo de elementos con la clase .col */
.col:first-child {
    margin-left: 0;
    /* Margen izquierdo */
}

/* Estilos para elementos con la clase .span_2_of_3 */
.span_2_of_3 {
    width: 66.1%;
    /* Ancho */
}

/* Estilos para elementos con la clase .contenedor */
.contenedor {
    max-width: 1020px;
    /* Ancho máximo */
    margin: 0 auto;
    /* Margen automático */
    padding: 20px;
    /* Relleno */
}

/* Estilos para elementos con la clase .blog-contenido */
.blog-contenido {
    font-size: 1rem;
    /* Tamaño de fuente */
    border-left: 5px solid #0c94e8;
    /* Borde izquierdo */
    padding-left: 15px;
    /* Relleno a la izquierda */
}

/* Estilos para elementos con la clase .blog-title */
.blog-title {
    font-weight: 500px;
    /* Peso de la fuente */
    font-size: 2.5em;
    /* Tamaño de la fuente */
    margin-top: -20px;
    /* Margen superior */
}

/* Estilos para elementos con la clase .date */
.date {
    font-size: 1rem;
    /* Tamaño de fuente */
    font-weight: 400;
    /* Peso de la fuente */
    color: #9c9c9c;
    /* Color */
    margin-top: 10px;
    /* Margen superior */
    text-decoration: underline;
    /* Subrayado */
    text-decoration-color: currentColor;
    /* Color del subrayado */
}

/* Estilos específicos para pantallas con ancho máximo de 56.25em */
@media screen and (max-width: 56.25em) {
    .col {
        margin: 1% 0 1% 0%;
        /* Márgenes */
    }

    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
        /* Ancho */
    }

    .side-post {
        width: 42%;
        /* Ancho */
        float: left;
        /* Flotado a la izquierda */
        margin: -2% 0 1% 1.6%;
        /* Márgenes */
    }
}