/* Estilos generales para las imágenes */
img {
    max-width: 100%;
}

/* Estilos para el contenedor de las tarjetas */
.card-container {
    width: 100%; /* Ancho total del contenedor */
    overflow-x: hidden; /* Oculta las tarjetas que se desplacen fuera del área visible */
    white-space: nowrap; /* Evita que las tarjetas se dividan en varias líneas */
}

/* Estilos para las tarjetas */
article.card {
    width: calc(90vw - 20px); /* Ancho de la tarjeta en porcentaje del ancho de la ventana, considerando el espacio entre tarjetas */
    max-width: 600px; /* Ancho máximo de la tarjeta */
    background: #f8f8f8;
    border-radius: 8px;
    margin: 1em 10px; /* Margen exterior con espacio entre tarjetas */
    box-shadow: 0 0 12px #d7d7d7;
    display: inline-block; /* Permite que las tarjetas se alineen horizontalmente */
    vertical-align: top; /* Alinea las tarjetas en la parte superior */
    white-space: normal; /* Permite que el texto se ajuste dentro de la tarjeta */
}

/* Estilos para la imagen del encabezado */
.header-card img {
    border-radius: 8px 8px 0 0;
    width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

/* Estilos para la categoría */
.categoria-card {
    margin-top: 1em;
}

.categoria-card span {
    background: #25c4d8;
    color: #fff;
    padding: .2em .5em;
    border-radius: 4px;
}


/* Estilos para el pie de página de la tarjeta */
.card footer {
    padding: 1em; /* Espacio interior para el pie de página */
}

/* Estilos para el contenedor del perfil */
.perfil-card {
    display: flex;
    align-items: center;
}

/* Estilos para la imagen de perfil */
.img-perdil-card {
    display: flex;
}

.img-ferdil-card img {
    width: 50px;
    height: 50px; /* Establece la altura de la imagen */
    margin: 1em; /* Margen uniforme alrededor de la imagen */
    border-radius: 50%; /* Borde redondeado para la imagen */
}

/* Estilos para el texto del perfil */
.text-perfil-card {
    display: flex;
    flex-flow: column;
}

.text-perfil-card span:nth-child(2){
    color: #cfcfcf;
}
